name: Helm Release Candidate call
on:
  workflow_call:
    inputs:
      helm-chart:
        type: string
        description: Which hlem chart to create a release candidate for
        required: true

    secrets:
      PAT:
        description: Token with read/write packages and repo access
        required: true

jobs:
  check-branch:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Success"
        if: ${{ startsWith(github.ref_name, 'release/') }}
        run: |
          echo "Creating a release candidate for branch '${{ github.ref_name }}'"
          exit 0

      - name: "Error"
        if: ${{ !startsWith(github.ref_name, 'release/') }}
        run: |
          echo "::error::Cannot create release candidate from branch '${{ github.ref_name }}' since it does not start with 'release/'"
          exit 1

  create-release-candidate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: check-branch

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_PUSH_PAT || github.token }}

      - name: Build and publish release candidate package
        uses: trifork/cheetah-infrastructure-utils-workflows/.github/actions/helm/helm-publish@main
        with:
          package-suffix: "RC${{github.run_number}}"
          PAT: ${{ secrets.PAT }}
          chart: ${{inputs.helm-chart}}
